*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

input{
  padding: 10px;
  margin: 10px;
}


.box{
  height: 400px;
  width: 400px;
  background-color: rgb(129, 231, 26);

}

.page1{
  height: 100vh;
  width: 100%;
  background-color: #f31717;
}

.page2{
  height: 100vh;
  width: 100%;
  background-color: #f6fa2c;
}

.page3{
  height: 100vh;
  width: 100%;
  background-color: #9735e7;
}